DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/payments_db
RABBITMQ_URL=amqp://payments:payments_password@localhost:5672/
API_KEY=secret_test_key
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=payments_db
RABBITMQ_USER=payments
RABBITMQ_PASSWORD=payments_password
